body{
    background-image: url(https://www.oxfordprivatetravel.com/media/23546/background.jpg?w=1920&h=963&mode=crop&scale=both&bgcolor=&404=/img/placeholder.png);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
}